@import url("https://fonts.googleapis.com/css2?family=Inter&family=Work+Sans:wght@300&display=swap");

body {
  margin: 0px;
}

.app {
  width: 100%;
  height: 100vh;
  background-image: url("./img/bgImage.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
